.App {
  text-align: center;
}

.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.playsound {
  align-self: center;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.selectcategories{
  margin-bottom: 50px;
}


.selectcategories span{
  margin: 15px
}

.selectcategories input{
  margin-left: 15px;
  transform: scale(2);
}

.guessguns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}